#content {
    min-width: 1270px;
    text-align: left;
    padding: 0;
    margin: 0 auto;
}

.clsContentLeft {
    background: url(../images/content_repeat.png) 0 0 repeat-y;
    padding-left: 5px;
}

.clsContentRight {
    background: url(../images/content_repeat.png) 100% 0 repeat-y;
    padding-right: 5px;
}
