@model RT.Models.Order
@{
    Layout = "~/Views/Shared/_OrderLayout.cshtml";
    
}

<h2>Bill</h2>
    
  <input type="text" id="msg" />
  <input type="button" id="broadcast" value="broadcast" />

  <ul id="messages">
  </ul>



