@{
    Layout = "~/Views/Shared/_OrderLayout.cshtml";
}

<div id="iwrap">
    <div id="icontent">

                    <div id="imain">
                        <table class="invoice-wrapper-table">
                            @Html.Hidden("loadOrder", Url.Action("OrderedProducts"))
                            <tbody>
                                <tr>
                                    <td align="left">
                                        
                                        <input id="autoProduct" placeholder="Search products" type="text" class="ui-autocomplete-input" autocomplete="on" role="textbox" list="ProductDataList">
                                        @Html.Action("AutoList", "Product")  &nbsp;&nbsp; 
                                        <input type="text" size="11" name="barcodereader" placeholder="ScanBarcode" id="prodnameid" class="clsTextBox" onkeypress="searchByEnterKey(event)">
                                       
                                    </td>
                                </tr>
                                <tr>
                                   <td style="text-align: left; border-top: 2px solid #D3D3D3;border-bottom: 2px solid #D3D3D3">
                                        
                                        <div id="orderedNumbers" style="overflow: hidden; width: 450px;"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; border: 2px solid #D3D3D3;display:none;">
                                        <div id="billedNumbers" style="overflow: hidden; width: 450px;"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text"  class="small" id="txtOrderId" name="invoicereorderID" >&nbsp;&nbsp;
                                        <input type="button" value="Load" id="btnLoadOrder" class="btn btn-info" />&nbsp;&nbsp;
                                        <input type="checkbox" name="parceloption" class="csChkParceloption" id="parceloptionID" style="margin: 0 0 0 4px">
                                        &nbsp;Parcel

                                    </td>
                                </tr>
                                
                                <tr>
                                    <td colspan="2">
                                        @Html.Action("OrderedProducts", new RT.Models.Order())
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="iside">


                                    <table class="table-grid" style="WIDTH: 100%;" id="invoice">
                                        <thead>
                                            <tr>

                                                <th>Time</th>
                                                <th>Table Details</th>
                                                <th>Bill Amount</th>
                                                <!-- <th>ORDER STATUS</th> -->
                                                <th>Action Item</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblBilled">
                                        </tbody>
                                    </table>


                    </div>
</div>
</div>
