@{
    Layout = "~/Views/Shared/_OrderLayout.cshtml";
}

<div id="iwrap">
    <div id="icontent">

                    <div id="imain">
                        <table class="invoice-wrapper-table">
                            @Html.Hidden("loadOrder", Url.Action("OrderedProducts"))
                            <tbody>
                                <tr>
                                    <td align="left">
                                        
                                        <input id="autoProduct" placeholder="Search products" type="text" class="ui-autocomplete-input" autocomplete="on" role="textbox" list="ProductDataList">
                                        @Html.Action("AutoList", "Product")  &nbsp;&nbsp; 
                                        <input type="text" size="11" name="barcodereader" placeholder="ScanBarcode" id="prodnameid" class="clsTextBox" onkeypress="searchByEnterKey(event)">
                                       
                                    </td>
                                </tr>
                                <tr>
                                   <td style="text-align: left; border-top: 2px solid #D3D3D3;border-bottom: 2px solid #D3D3D3">
                                        
                                        <div id="orderedNumbers" style="overflow: hidden; width: 450px;"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; border: 2px solid #D3D3D3">
                                        <div id="billedNumbers" style="overflow: hidden; width: 450px;"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text"  class="small" id="txtOrderId" name="invoicereorderID" size="5">&nbsp;&nbsp;
                                        <input type="button" value="Load" id="btnLoadOrder" class="btn btn-info" />&nbsp;&nbsp;
                                        <input type="checkbox" name="parceloption" class="csChkParceloption" id="parceloptionID" style="margin: 0 0 0 4px">
                                        &nbsp;Parcel
                                        <input type="checkbox" name="takeaway" class="csChkTakewayoption" id="takeawayoptionID" style="margin: 0 0 0 4px">
                                        &nbsp;TakeAway
                                    </td>
                                </tr>
                                <tr align="left">
                                    <td colspan="2">
                                        <input type="hidden" id="current-item-id">
                                        <input type="hidden" id="current-item-name">
                                        <input type="hidden" id="prev-added-item-id">
                                        <input type="hidden" id="current-item-unitprice">
                                        <table id="product-adder" style="margin-top: 0;">
                                            <tbody>
                                                <tr>
                                                    <td nowrap="nowrap">
                                                        <div id="circleButton" class="circle">0</div>
                                                        <div id="circleButton" class="circle">1</div>
                                                        <div id="circleButton" class="circle">2</div>
                                                        <div id="circleButton" class="circle">3</div>
                                                        <div id="circleButton" class="circle">4</div>
                                                        <div id="circleButton" class="circle">5</div>
                                                        <div id="circleButton" class="circle">6</div>
                                                        <div id="circleButton" class="circle">7</div>
                                                        <div id="circleButton" class="circle">8</div>
                                                        <div id="circleButton" class="circle">9</div>
                                                        <div id="circleButton" class="circle">C</div>
                                                    </td>
                                                    <td nowrap="nowrap">
                                                        <input id="quantity" name="quantity" size="2">
                                                        <input type="button" onclick="addProductsWithQuantitySelection();" name="add-product" id="add-product" value="+"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        @Html.Action("OrderedProducts", new RT.Models.Order())
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="iside">


                                    <table class="table-grid" style="WIDTH: 100%;" id="invoice">
                                        <thead>
                                            <tr>

                                                <th>Time</th>
                                                <th>Table Details</th>
                                                <th>Bill Amount</th>
                                                <!-- <th>ORDER STATUS</th> -->
                                                <th>Action Item</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblBilled">
                                        </tbody>
                                    </table>


                    </div>
</div>
</div>
