@model IEnumerable<RT.Models.CurrencyDenomination>

@{
    ViewBag.Title = "DenominationCalculation";
}
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script type="text/javascript">
    function calculate(value) {
        if (document.getElementById("countavai" + value).value == "") {
            document.getElementById("denomitotal" + value).value = 0;
        }
        else {
            document.getElementById("denomitotal" + value).value = (parseInt(document.getElementById("countavai" + value).value) * parseInt(document.getElementById("denomival" + value).value)).toString();
        }
    }


    $(document).ready(function () {
        $(".inputtextbox").keydown(function (event) {
            // Allow: backspace, delete, tab, escape, and enter
            if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
                // Allow: Ctrl+A
                (event.keyCode == 65 && event.ctrlKey === true) ||
                // Allow: home, end, left, right
                (event.keyCode >= 35 && event.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            else {
                // Ensure that it is a number and stop the keypress
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                    event.preventDefault();
                }
            }
        });

        $(".inputtextbox").keyup(function (event) {
            calculateDenomination($(this));
            calculateSum();
        });

    });

    function calculateSum() {

        var sum = 0;
        //iterate through each textboxes and add the values
        $(".outputtextbox").each(function () {

            //add only if the value is number
            if (!isNaN(this.value) && this.value.length != 0) {
                sum += parseInt(this.value);
            }

        });
        //.toFixed() method will roundoff the final sum to 2 decimal places
        $("#sum").html(sum);
    }

    function calculateDenomination(inputelement) {
        var inputval = inputelement.attr('id');
        // alert(inputval);
        var inputid = inputval.substr(9, inputval.length);
        // alert(inputid);

        if (document.getElementById("countavai" + inputid).value == "") {

            document.getElementById("denomitotal" + inputid).value = "0";
        }
        else {

            document.getElementById("denomitotal" + inputid).value = (parseInt(document.getElementById("countavai" + inputid).value) * parseInt(document.getElementById("denomival" + inputid).value)).toString();
            // alert(2);
        }
    }

</script>
<h2>DenominationCalculation1</h2>


@using(Html.BeginForm("StoreDenominations","CurrencyDenominator",FormMethod.Post)){
<div>
<table>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Denomination)
        </td>
        <td>
          Number available
        </td>
         <td>
           Result
        </td> 
    </tr>
    @{
        int index=0;
        }
        @foreach (var item in Model) {

            index = Convert.ToInt32(item.id) - 1;
            <tr>
                <td>
                    <input name="currencydenominationtrans[@index].denomival" id="denomival@(item.Value)" type= "text" value="@(item.Value)" readonly="true"/>
                </td>
                <td>
                    <input  name="currencydenominationtrans[@index].countavai" id="countavai@(item.Value)" type="text" class="inputtextbox"/>
                </td>
                <td>
                    <input name="currencydenominationtrans[@index].denomitotal" id="denomitotal@(item.Value)" type="text" class="outputtextbox" readonly="true"/>

                    <input name="currencydenominationtrans[@index].date" id="date@(item.Value)" type="hidden" value ="@DateTime.Now.ToShortDateString()"/>
                </td> 
            </tr>
        }


    <tr>
        <td>

        </td>
        <td>Total is</td>
        <td><div id="sum" ></div></td>
    </tr>

</table>
    </div>
    <p>
    <input type="submit" value="Save" />
</p>
}
