@{
    Layout = "~/Views/Shared/_OrderLayout.cshtml";
}

<div id="iwrap">
    <div id="icontent">

        <div id="imain" style="height: auto;">
            <table class="invoice-wrapper-table">
                <tbody>
                    <tr>
                        <td align="left">
                            <input id="autoProduct" placeholder="Search products" type="text" class="ui-autocomplete-input" autocomplete="on" role="textbox" list="ProductDataList">
                            @Html.Action("AutoList", "Product")  &nbsp;&nbsp; 
                                                    
                                                    
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left; border-top: 2px solid #D3D3D3;border-bottom: 2px solid #D3D3D3">
                            @Html.Hidden("loadOrder", Url.Action("OrderedProducts"))
                            <div id="orderedNumbers" style="overflow: hidden; width: 450px;"></div>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <input type="text" class="small" id="txtOrderId" name="invoicereorderID"  />&nbsp;&nbsp;
                                            <input type="button" value="Load" id="btnLoadOrder" class="btn btn-info" />&nbsp;&nbsp;
                                            <input type="checkbox" name="parceloption" class="csChkParceloption" id="parceloptionID" style="margin: 0 0 0 4px">
                            
                            &nbsp;Parcel
@*                                                        <input type="button" value="Parcel" class="btn btn-danger" style="margin-right:-3px;" />
                            <input type="button" value="Dine-In" class="btn btn-disabled"  style="padding:3px 10px;margin-left:-3px;" />*@
                        </td>
                    </tr>
                    
                    <tr>
                        
                        <td>

                            @Html.Action("OrderedProducts", new RT.Models.Order())


                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left; border: 2px solid #D3D3D3;">
                            &nbsp;Old Orders:
                            <div id="billedNumbers" style="overflow: hidden; width: 450px;"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="iside">
            

                            

                                @Html.Action("ButtonMenu", "ProductGroup")
                            



           




        </div>

    </div>

</div>


