@model IEnumerable<RT.Models.Product>

@{
    Layout = null;
}
<datalist id="ProductDataList">
  @foreach (var item in Model)
  {
        <option prm1="@item.Name,@item.ActualPrice,@item.FirstSellingPrice"  value="@item.Name" id="@item.Id"></option>
  }
</datalist>