@model IEnumerable<RT.Models.Product>

@{
    Layout = null;
}

@{
    int inx = 1;
  }
@foreach (var item in Model.Where(i => i.MasterProductID == null))
{
    <li class="prod btn0" onclick="addRowRecord('@item.Name,@item.ActualPrice,@item.SecondSellingPrice' ,@item.Id) ;return false;">
        @item.Name
    </li>
    
    
    foreach (var inneritem in Model.Where(j => j.MasterProductID == item.Id))
    {
        //TODO: Need to parse as two decimal place strings
        int val = inx % 5;
        <li class='prod btn@(val)' onclick="addRowRecord('@inneritem.Name,@inneritem.ActualPrice,@inneritem.SecondSellingPrice' ,@inneritem.Id) ;return false;">
            @inneritem.Name
        </li>
        
    }
    inx++;
}
