@model RT.Models.OrderedProduct
@{
    int? inx = ViewData.Eval("count") as int?;
    Layout = null;
}


                                    <tr class="old-order nonParcelRow plist_@inx">
                                        <td>
                                            @if(Model.Type == 1){
                                                <input disabled="disabled" type="checkbox" checked="checked" class="p_1 csChkParcel" id="parcelid"@inx />
                                            }
                                            else{
                                                <input disabled="disabled" type="checkbox" class="p_1 csChkParcel" id="parcelid"@inx /> 
                                            }
                                        
                                        </td>
                                        <td>
                                            <span style="text-decoration: line-through">
                                                @Html.DisplayFor(modelItem => Model.Product.Name)
                                            </span>

                                        </td>
                                        <td>
                                            <a href="#" class="number_button_unit_price">
                                                @Html.DisplayFor(modelItem => Model.Price)
                                            </a>
                                        </td>
                                        <td>
                                            <a href="#" class="number_button_qty">
                                                @Html.DisplayFor(modelItem => Model.Quantity)
                                            </a>
                                        </td>
                                        <td id='unitTotal'>
                                           
                                            <span> @(Model.Price * Model.Quantity) </span>
                                        </td>
                                        <td>
                                            @{
                                    /*Todo: Need to implement: when wiater clicks this images , he will see the popup with 'reason' message. and should hide this row from the table. Later cahsier will review and save or delete in bill page */
                                            }
                                            <a href='javascript:deleteDataRow("row-id-TEHC-176",1);'>
                                                <img class="button-icon" src="images/button-remove.png"></a>
                                        </td>
                                    </tr>
    


