@{
    ViewBag.Title = "Index";
}

<h2>Reports</h2>
<ul id="reportmenuitems">
    <li>
        <a href="SalesDrillDownReport.aspx" title="LocationWiseReport">Location</a>
    </li>
        <li>
        <a href="ServedByDrillDownReport.aspx" title="Served By Report">Served By</a>
    </li>
</ul>