@model IEnumerable<RT.Models.ProductGroup>

@{
    Layout = null;

}

    @foreach (var item in Model) {
        <input type="button" id='PBtn@(item.Id)' value='@item.Name' class="button" onclick="collapseOthers('PBtn@(item.Id)','pBtn')"   />
    }
    <input type="button" id="SBtn1" class="button" value="Diamond (A-I)" onclick="collapseOthers('SBtn1','SBtn',true)">
    <input type="button" id="SBtn2" class="button" value="Gold (J-Q)" onclick="collapseOthers('SBtn2','SBtn',true)">
    <input type="button" id="SBtn3" class="button" value="Silver (R-Y)" onclick="collapseOthers('SBtn3','SBtn',true)">

     @foreach (var item in Model) {
        <!--  product list for each group -->
        <div class="csProdutGroupBlk none" id='itm-btn-PBtn@(item.Id)'>
            <div class="wall-of-buttons">
                <ul class="cButton">
                    @Html.Action("ListsByGroup","Product",new { id = item.Id })
                </ul>
            </div>
        </div>
        <div style="clear: both"></div>

      }

<!--  diamond quadrant output -->
<div id="itm-btn-SBtn1" class="none">

    <div id="holder1" class="csHolderBlk">
        <div class="p_left">
            <div class="csSeatWrapper" id="place-1" style="width: 200px; height: 110px;">
                <div class="csTableName">Table A</div>
                <div class="csCheckAll">
                    <input type="checkbox" class="csSelectAllTable">
                </div>
                <ul class="csSeatList">
                    <li class="seat row-0 col-0" style="top: 0px; left: 0px"><a title="A1">A1</a></li>
                    <li class="seat row-0 col-1" style="top: 0px; left: 50px"><a title="A3">A3</a></li>
                    <li class="seat row-0 col-2" style="top: 0px; left: 100px"><a title="A5">A5</a></li>
                    <li class="seat row-0 col-3" style="top: 0px; left: 150px"><a title="A7">A7</a></li>
                    <li class="seat row-1 col-0" style="top: 50px; left: 0px"><a title="A2">A2</a></li>
                    <li class="seat row-1 col-1" style="top: 50px; left: 50px"><a title="A4">A4</a></li>
                    <li class="seat row-1 col-2 selectedSeat" style="top: 50px; left: 100px" onclick="loadOrderDetails(14)"><a title="A6">A6</a></li>
                    <li class="seat row-1 col-3" style="top: 50px; left: 150px"><a title="A8">A8</a></li>
                </ul>
            </div>
            <div class="csSeatWrapper" id="place-2" style="width: 200px; height: 110px;">
                <div class="csTableName">Table B</div>
                <div class="csCheckAll">
                    <input type="checkbox" class="csSelectAllTable">
                </div>
                <ul class="csSeatList">
                    <li class="seat row-0 col-0" style="top: 0px; left: 0px"><a title="B1">B1</a></li>
                    <li class="seat row-0 col-1" style="top: 0px; left: 50px"><a title="B3">B3</a></li>
                    <li class="seat row-0 col-2" style="top: 0px; left: 100px"><a title="B5">B5</a></li>
                    <li class="seat row-0 col-3" style="top: 0px; left: 150px"><a title="B7">B7</a></li>
                    <li class="seat row-1 col-0" style="top: 50px; left: 0px"><a title="B2">B2</a></li>
                    <li class="seat row-1 col-1" style="top: 50px; left: 50px"><a title="B4">B4</a></li>
                    <li class="seat row-1 col-2" style="top: 50px; left: 100px"><a title="B6">B6</a></li>
                    <li class="seat row-1 col-3" style="top: 50px; left: 150px"><a title="B8">B8</a></li>
                </ul>
            </div>
            <div class="csSeatWrapper" id="place-3" style="width: 200px; height: 110px;">
                <div class="csTableName">Table C</div>
                <div class="csCheckAll">
                    <input type="checkbox" class="csSelectAllTable">
                </div>
                <ul class="csSeatList">
                    <li class="seat row-0 col-0" style="top: 0px; left: 0px"><a title="C1">C1</a></li>
                    <li class="seat row-0 col-1 selectedSeat" style="top: 0px; left: 50px" onclick="loadOrderDetails(15)"><a title="C3">C3</a></li>
                    <li class="seat row-0 col-2" style="top: 0px; left: 100px"><a title="C5">C5</a></li>
                    <li class="seat row-0 col-3" style="top: 0px; left: 150px"><a title="C7">C7</a></li>
                    <li class="seat row-1 col-0" style="top: 50px; left: 0px"><a title="C2">C2</a></li>
                    <li class="seat row-1 col-1" style="top: 50px; left: 50px"><a title="C4">C4</a></li>
                    <li class="seat row-1 col-2" style="top: 50px; left: 100px"><a title="C6">C6</a></li>
                    <li class="seat row-1 col-3" style="top: 50px; left: 150px"><a title="C8">C8</a></li>
                </ul>
            </div>
            <div class="csSeatWrapper" id="place-4" style="width: 200px; height: 110px;">
                <div class="csTableName">Table D</div>
                <div class="csCheckAll">
                    <input type="checkbox" class="csSelectAllTable">
                </div>
                <ul class="csSeatList">
                    <li class="seat row-0 col-0" style="top: 0px; left: 0px"><a title="D1">D1</a></li>
                    <li class="seat row-0 col-1" style="top: 0px; left: 50px"><a title="D3">D3</a></li>
                    <li class="seat row-0 col-2" style="top: 0px; left: 100px"><a title="D5">D5</a></li>
                    <li class="seat row-0 col-3" style="top: 0px; left: 150px"><a title="D7">D7</a></li>
                    <li class="seat row-1 col-0" style="top: 50px; left: 0px"><a title="D2">D2</a></li>
                    <li class="seat row-1 col-1" style="top: 50px; left: 50px"><a title="D4">D4</a></li>
                    <li class="seat row-1 col-2" style="top: 50px; left: 100px"><a title="D6">D6</a></li>
                    <li class="seat row-1 col-3" style="top: 50px; left: 150px"><a title="D8">D8</a></li>
                </ul>
            </div>
            <div class="csSeatWrapper" id="place-5" style="width: 200px; height: 110px;">
                <div class="csTableName">Table E</div>
                <div class="csCheckAll">
                    <input type="checkbox" class="csSelectAllTable">
                </div>
                <ul class="csSeatList">
                    <li class="seat row-0 col-0" style="top: 0px; left: 0px"><a title="E1">E1</a></li>
                    <li class="seat row-0 col-1" style="top: 0px; left: 50px"><a title="E3">E3</a></li>
                    <li class="seat row-0 col-2" style="top: 0px; left: 100px"><a title="E5">E5</a></li>
                    <li class="seat row-0 col-3" style="top: 0px; left: 150px"><a title="E7">E7</a></li>
                    <li class="seat row-1 col-0" style="top: 50px; left: 0px"><a title="E2">E2</a></li>
                    <li class="seat row-1 col-1" style="top: 50px; left: 50px"><a title="E4">E4</a></li>
                    <li class="seat row-1 col-2" style="top: 50px; left: 100px"><a title="E6">E6</a></li>
                    <li class="seat row-1 col-3" style="top: 50px; left: 150px"><a title="E8">E8</a></li>
                </ul>
            </div>
        </div>
        <div class="p_right">
            <div class="csSeatWrapper" id="place-6" style="width: 100px; height: 110px;">
                <div class="csTableName">Table F</div>
                <div class="csCheckAll">
                    <input type="checkbox" class="csSelectAllTable">
                </div>
                <ul class="csSeatList">
                    <li class="seat row-0 col-0" style="top: 0px; left: 0px"><a title="F1">F1</a></li>
                    <li class="seat row-0 col-1" style="top: 0px; left: 50px"><a title="F3">F3</a></li>
                    <li class="seat row-1 col-0" style="top: 50px; left: 0px"><a title="F2">F2</a></li>
                    <li class="seat row-1 col-1" style="top: 50px; left: 50px"><a title="F4">F4</a></li>
                </ul>
            </div>
            <div class="csSeatWrapper" id="place-7" style="width: 100px; height: 110px;">
                <div class="csTableName">Table G</div>
                <div class="csCheckAll">
                    <input type="checkbox" class="csSelectAllTable">
                </div>
                <ul class="csSeatList">
                    <li class="seat row-0 col-0" style="top: 0px; left: 0px"><a title="G1">G1</a></li>
                    <li class="seat row-0 col-1" style="top: 0px; left: 50px"><a title="G3">G3</a></li>
                    <li class="seat row-1 col-0" style="top: 50px; left: 0px"><a title="G2">G2</a></li>
                    <li class="seat row-1 col-1" style="top: 50px; left: 50px"><a title="G4">G4</a></li>
                </ul>
            </div>
            <div class="csSeatWrapper" id="place-8" style="width: 100px; height: 110px;">
                <div class="csTableName">Table H</div>
                <div class="csCheckAll">
                    <input type="checkbox" class="csSelectAllTable">
                </div>
                <ul class="csSeatList">
                    <li class="seat row-0 col-0" style="top: 0px; left: 0px"><a title="H1">H1</a></li>
                    <li class="seat row-0 col-1" style="top: 0px; left: 50px"><a title="H3">H3</a></li>
                    <li class="seat row-1 col-0" style="top: 50px; left: 0px"><a title="H2">H2</a></li>
                    <li class="seat row-1 col-1" style="top: 50px; left: 50px"><a title="H4">H4</a></li>
                </ul>
            </div>
            <div class="csSeatWrapper" id="place-9" style="width: 100px; height: 110px;">
                <div class="csTableName">Table I</div>
                <div class="csCheckAll">
                    <input type="checkbox" class="csSelectAllTable">
                </div>
                <ul class="csSeatList">
                    <li class="seat row-0 col-0" style="top: 0px; left: 0px"><a title="I1">I1</a></li>
                    <li class="seat row-0 col-1" style="top: 0px; left: 50px"><a title="I3">I3</a></li>
                    <li class="seat row-1 col-0" style="top: 50px; left: 0px"><a title="I2">I2</a></li>
                    <li class="seat row-1 col-1" style="top: 50px; left: 50px"><a title="I4">I4</a></li>
                </ul>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
    <input id="seatno" name="tableselection" type="hidden" value="">
    <input type="hidden" id="showSeatNo" name="showSeatNo">
    <input type="hidden" id="seatwithID" name="tablewithID">
</div>
<input type="hidden" id="printSeatNo" name="printSeatNo">

<!--  gold  quadrant output -->
<div id="itm-btn-SBtn2" class="none">

    <div id="holder2" class="csHolderBlk">
        <div class="p_left">
            <div class="csSeatWrapper" id="place-10" style="width: 100px; height: 110px;">
                <div class="csTableName">Table J</div>
                <div class="csCheckAll">
                    <input type="checkbox" class="csSelectAllTable">
                </div>
                <ul class="csSeatList">
                    <li class="seat row-0 col-0" style="top: 0px; left: 0px"><a title="J1">J1</a></li>
                    <li class="seat row-0 col-1" style="top: 0px; left: 50px"><a title="J3">J3</a></li>
                    <li class="seat row-1 col-0" style="top: 50px; left: 0px"><a title="J2">J2</a></li>
                    <li class="seat row-1 col-1" style="top: 50px; left: 50px"><a title="J4">J4</a></li>
                </ul>
            </div>
            <div class="csSeatWrapper" id="place-12" style="width: 100px; height: 110px;">
                <div class="csTableName">Table K</div>
                <div class="csCheckAll">
                    <input type="checkbox" class="csSelectAllTable">
                </div>
                <ul class="csSeatList">
                    <li class="seat row-0 col-0" style="top: 0px; left: 0px"><a title="K1">K1</a></li>
                    <li class="seat row-0 col-1" style="top: 0px; left: 50px"><a title="K3">K3</a></li>
                    <li class="seat row-1 col-0" style="top: 50px; left: 0px"><a title="K2">K2</a></li>
                    <li class="seat row-1 col-1" style="top: 50px; left: 50px"><a title="K4">K4</a></li>
                </ul>
            </div>
            <div class="csSeatWrapper" id="place-14" style="width: 100px; height: 110px;">
                <div class="csTableName">Table L</div>
                <div class="csCheckAll">
                    <input type="checkbox" class="csSelectAllTable">
                </div>
                <ul class="csSeatList">
                    <li class="seat row-0 col-0" style="top: 0px; left: 0px"><a title="L1">L1</a></li>
                    <li class="seat row-0 col-1" style="top: 0px; left: 50px"><a title="L3">L3</a></li>
                    <li class="seat row-1 col-0" style="top: 50px; left: 0px"><a title="L2">L2</a></li>
                    <li class="seat row-1 col-1" style="top: 50px; left: 50px"><a title="L4">L4</a></li>
                </ul>
            </div>
            <div class="csSeatWrapper" id="place-16" style="width: 100px; height: 110px;">
                <div class="csTableName">Table M</div>
                <div class="csCheckAll">
                    <input type="checkbox" class="csSelectAllTable">
                </div>
                <ul class="csSeatList">
                    <li class="seat row-0 col-0" style="top: 0px; left: 0px"><a title="M1">M1</a></li>
                    <li class="seat row-0 col-1" style="top: 0px; left: 50px"><a title="M3">M3</a></li>
                    <li class="seat row-1 col-0" style="top: 50px; left: 0px"><a title="M2">M2</a></li>
                    <li class="seat row-1 col-1" style="top: 50px; left: 50px"><a title="M4">M4</a></li>
                </ul>
            </div>
        </div>
        <div class="p_right">
            <div class="csSeatWrapper" id="place-11" style="width: 100px; height: 110px;">
                <div class="csTableName">Table N</div>
                <div class="csCheckAll">
                    <input type="checkbox" class="csSelectAllTable">
                </div>
                <ul class="csSeatList">
                    <li class="seat row-0 col-0" style="top: 0px; left: 0px"><a title="N1">N1</a></li>
                    <li class="seat row-0 col-1" style="top: 0px; left: 50px"><a title="N3">N3</a></li>
                    <li class="seat row-1 col-0" style="top: 50px; left: 0px"><a title="N2">N2</a></li>
                    <li class="seat row-1 col-1" style="top: 50px; left: 50px"><a title="N4">N4</a></li>
                </ul>
            </div>
            <div class="csSeatWrapper" id="place-13" style="width: 100px; height: 110px;">
                <div class="csTableName">Table O</div>
                <div class="csCheckAll">
                    <input type="checkbox" class="csSelectAllTable">
                </div>
                <ul class="csSeatList">
                    <li class="seat row-0 col-0" style="top: 0px; left: 0px"><a title="O1">O1</a></li>
                    <li class="seat row-0 col-1" style="top: 0px; left: 50px"><a title="O3">O3</a></li>
                    <li class="seat row-1 col-0" style="top: 50px; left: 0px"><a title="O2">O2</a></li>
                    <li class="seat row-1 col-1" style="top: 50px; left: 50px"><a title="O4">O4</a></li>
                </ul>
            </div>
            <div class="csSeatWrapper" id="place-15" style="width: 100px; height: 110px;">
                <div class="csTableName">Table P</div>
                <div class="csCheckAll">
                    <input type="checkbox" class="csSelectAllTable">
                </div>
                <ul class="csSeatList">
                    <li class="seat row-0 col-0" style="top: 0px; left: 0px"><a title="P1">P1</a></li>
                    <li class="seat row-0 col-1" style="top: 0px; left: 50px"><a title="P3">P3</a></li>
                    <li class="seat row-1 col-0" style="top: 50px; left: 0px"><a title="P2">P2</a></li>
                    <li class="seat row-1 col-1" style="top: 50px; left: 50px"><a title="P4">P4</a></li>
                </ul>
            </div>
            <div class="csSeatWrapper" id="place-17" style="width: 100px; height: 110px;">
                <div class="csTableName">Table Q</div>
                <div class="csCheckAll">
                    <input type="checkbox" class="csSelectAllTable">
                </div>
                <ul class="csSeatList">
                    <li class="seat row-0 col-0" style="top: 0px; left: 0px"><a title="Q1">Q1</a></li>
                    <li class="seat row-0 col-1" style="top: 0px; left: 50px"><a title="Q3">Q3</a></li>
                    <li class="seat row-1 col-0" style="top: 50px; left: 0px"><a title="Q2">Q2</a></li>
                    <li class="seat row-1 col-1" style="top: 50px; left: 50px"><a title="Q4">Q4</a></li>
                </ul>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
</div>

<!--  Silver  quadrant output -->
<div id="itm-btn-SBtn3" class="none">
    <div id="holder3" class="csHolderBlk">
        <div class="p_left">
            <div class="csSeatWrapper" id="place-18" style="width: 200px; height: 110px;">
                <div class="csTableName">Table R</div>
                <div class="csCheckAll">
                    <input type="checkbox" class="csSelectAllTable">
                </div>
                <ul class="csSeatList">
                    <li class="seat row-0 col-0" style="top: 0px; left: 0px"><a title="R1">R1</a></li>
                    <li class="seat row-0 col-1" style="top: 0px; left: 50px"><a title="R3">R3</a></li>
                    <li class="seat row-0 col-2" style="top: 0px; left: 100px"><a title="R5">R5</a></li>
                    <li class="seat row-0 col-3" style="top: 0px; left: 150px"><a title="R7">R7</a></li>
                    <li class="seat row-1 col-0" style="top: 50px; left: 0px"><a title="R2">R2</a></li>
                    <li class="seat row-1 col-1" style="top: 50px; left: 50px"><a title="R4">R4</a></li>
                    <li class="seat row-1 col-2" style="top: 50px; left: 100px"><a title="R6">R6</a></li>
                    <li class="seat row-1 col-3" style="top: 50px; left: 150px"><a title="R8">R8</a></li>
                </ul>
            </div>
            <div class="csSeatWrapper" id="place-20" style="width: 200px; height: 110px;">
                <div class="csTableName">Table S</div>
                <div class="csCheckAll">
                    <input type="checkbox" class="csSelectAllTable">
                </div>
                <ul class="csSeatList">
                    <li class="seat row-0 col-0" style="top: 0px; left: 0px"><a title="S1">S1</a></li>
                    <li class="seat row-0 col-1" style="top: 0px; left: 50px"><a title="S3">S3</a></li>
                    <li class="seat row-0 col-2" style="top: 0px; left: 100px"><a title="S5">S5</a></li>
                    <li class="seat row-0 col-3" style="top: 0px; left: 150px"><a title="S7">S7</a></li>
                    <li class="seat row-1 col-0" style="top: 50px; left: 0px"><a title="S2">S2</a></li>
                    <li class="seat row-1 col-1" style="top: 50px; left: 50px"><a title="S4">S4</a></li>
                    <li class="seat row-1 col-2" style="top: 50px; left: 100px"><a title="S6">S6</a></li>
                    <li class="seat row-1 col-3" style="top: 50px; left: 150px"><a title="S8">S8</a></li>
                </ul>
            </div>
            <div class="csSeatWrapper" id="place-22" style="width: 200px; height: 110px;">
                <div class="csTableName">Table T</div>
                <div class="csCheckAll">
                    <input type="checkbox" class="csSelectAllTable">
                </div>
                <ul class="csSeatList">
                    <li class="seat row-0 col-0" style="top: 0px; left: 0px"><a title="T1">T1</a></li>
                    <li class="seat row-0 col-1" style="top: 0px; left: 50px"><a title="T3">T3</a></li>
                    <li class="seat row-0 col-2" style="top: 0px; left: 100px"><a title="T5">T5</a></li>
                    <li class="seat row-0 col-3" style="top: 0px; left: 150px"><a title="T7">T7</a></li>
                    <li class="seat row-1 col-0" style="top: 50px; left: 0px"><a title="T2">T2</a></li>
                    <li class="seat row-1 col-1" style="top: 50px; left: 50px"><a title="T4">T4</a></li>
                    <li class="seat row-1 col-2" style="top: 50px; left: 100px"><a title="T6">T6</a></li>
                    <li class="seat row-1 col-3" style="top: 50px; left: 150px"><a title="T8">T8</a></li>
                </ul>
            </div>
            <div class="csSeatWrapper" id="place-24" style="width: 200px; height: 110px;">
                <div class="csTableName">Table U</div>
                <div class="csCheckAll">
                    <input type="checkbox" class="csSelectAllTable">
                </div>
                <ul class="csSeatList">
                    <li class="seat row-0 col-0" style="top: 0px; left: 0px"><a title="U1">U1</a></li>
                    <li class="seat row-0 col-1" style="top: 0px; left: 50px"><a title="U3">U3</a></li>
                    <li class="seat row-0 col-2" style="top: 0px; left: 100px"><a title="U5">U5</a></li>
                    <li class="seat row-0 col-3" style="top: 0px; left: 150px"><a title="U7">U7</a></li>
                    <li class="seat row-1 col-0" style="top: 50px; left: 0px"><a title="U2">U2</a></li>
                    <li class="seat row-1 col-1" style="top: 50px; left: 50px"><a title="U4">U4</a></li>
                    <li class="seat row-1 col-2" style="top: 50px; left: 100px"><a title="U6">U6</a></li>
                    <li class="seat row-1 col-3" style="top: 50px; left: 150px"><a title="U8">U8</a></li>
                </ul>
            </div>
        </div>
        <div class="p_right">
            <div class="csSeatWrapper" id="place-19" style="width: 200px; height: 110px;">
                <div class="csTableName">Table V</div>
                <div class="csCheckAll">
                    <input type="checkbox" class="csSelectAllTable">
                </div>
                <ul class="csSeatList">
                    <li class="seat row-0 col-0" style="top: 0px; left: 0px"><a title="V1">V1</a></li>
                    <li class="seat row-0 col-1" style="top: 0px; left: 50px"><a title="V3">V3</a></li>
                    <li class="seat row-0 col-2" style="top: 0px; left: 100px"><a title="V5">V5</a></li>
                    <li class="seat row-0 col-3" style="top: 0px; left: 150px"><a title="V7">V7</a></li>
                    <li class="seat row-1 col-0" style="top: 50px; left: 0px"><a title="V2">V2</a></li>
                    <li class="seat row-1 col-1" style="top: 50px; left: 50px"><a title="V4">V4</a></li>
                    <li class="seat row-1 col-2" style="top: 50px; left: 100px"><a title="V6">V6</a></li>
                    <li class="seat row-1 col-3" style="top: 50px; left: 150px"><a title="V8">V8</a></li>
                </ul>
            </div>
            <div class="csSeatWrapper" id="place-21" style="width: 200px; height: 110px;">
                <div class="csTableName">Table W</div>
                <div class="csCheckAll">
                    <input type="checkbox" class="csSelectAllTable">
                </div>
                <ul class="csSeatList">
                    <li class="seat row-0 col-0" style="top: 0px; left: 0px"><a title="W1">W1</a></li>
                    <li class="seat row-0 col-1" style="top: 0px; left: 50px"><a title="W3">W3</a></li>
                    <li class="seat row-0 col-2" style="top: 0px; left: 100px"><a title="W5">W5</a></li>
                    <li class="seat row-0 col-3" style="top: 0px; left: 150px"><a title="W7">W7</a></li>
                    <li class="seat row-1 col-0" style="top: 50px; left: 0px"><a title="W2">W2</a></li>
                    <li class="seat row-1 col-1" style="top: 50px; left: 50px"><a title="W4">W4</a></li>
                    <li class="seat row-1 col-2" style="top: 50px; left: 100px"><a title="W6">W6</a></li>
                    <li class="seat row-1 col-3" style="top: 50px; left: 150px"><a title="W8">W8</a></li>
                </ul>
            </div>
            <div class="csSeatWrapper" id="place-23" style="width: 200px; height: 110px;">
                <div class="csTableName">Table X</div>
                <div class="csCheckAll">
                    <input type="checkbox" class="csSelectAllTable">
                </div>
                <ul class="csSeatList">
                    <li class="seat row-0 col-0" style="top: 0px; left: 0px"><a title="X1">X1</a></li>
                    <li class="seat row-0 col-1" style="top: 0px; left: 50px"><a title="X3">X3</a></li>
                    <li class="seat row-0 col-2" style="top: 0px; left: 100px"><a title="X5">X5</a></li>
                    <li class="seat row-0 col-3" style="top: 0px; left: 150px"><a title="X7">X7</a></li>
                    <li class="seat row-1 col-0" style="top: 50px; left: 0px"><a title="X2">X2</a></li>
                    <li class="seat row-1 col-1" style="top: 50px; left: 50px"><a title="X4">X4</a></li>
                    <li class="seat row-1 col-2" style="top: 50px; left: 100px"><a title="X6">X6</a></li>
                    <li class="seat row-1 col-3" style="top: 50px; left: 150px"><a title="X8">X8</a></li>
                </ul>
            </div>
            <div class="csSeatWrapper" id="place-25" style="width: 200px; height: 110px;">
                <div class="csTableName">Table Y</div>
                <div class="csCheckAll">
                    <input type="checkbox" class="csSelectAllTable">
                </div>
                <ul class="csSeatList">
                    <li class="seat row-0 col-0" style="top: 0px; left: 0px"><a title="Y1">Y1</a></li>
                    <li class="seat row-0 col-1" style="top: 0px; left: 50px"><a title="Y3">Y3</a></li>
                    <li class="seat row-0 col-2" style="top: 0px; left: 100px"><a title="Y5">Y5</a></li>
                    <li class="seat row-0 col-3" style="top: 0px; left: 150px"><a title="Y7">Y7</a></li>
                    <li class="seat row-1 col-0" style="top: 50px; left: 0px"><a title="Y2">Y2</a></li>
                    <li class="seat row-1 col-1" style="top: 50px; left: 50px"><a title="Y4">Y4</a></li>
                    <li class="seat row-1 col-2" style="top: 50px; left: 100px"><a title="Y6">Y6</a></li>
                    <li class="seat row-1 col-3" style="top: 50px; left: 150px"><a title="Y8">Y8</a></li>
                </ul>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
</div>
<!-- End product list -->
<div style="clear: both"></div>
