USE [Restaurant]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 09/25/2013 17:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[Status] [tinyint] NULL,
	[TotalAmount] [money] NULL,
	[Seats] [varchar](200) NULL,
	[CreatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0=ordered     1=Paid' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_OldDescription', @value=N'0=ordered     1=Paid' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_OldDescription2', @value=N'0=ordered     1=Paid' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'Status'
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 09/25/2013 17:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EventDateTime] [datetime] NOT NULL,
	[EventLevel] [nvarchar](100) NULL,
	[UserName] [nvarchar](100) NULL,
	[MachineName] [nvarchar](100) NULL,
	[EventMessage] [nvarchar](max) NULL,
	[ErrorSource] [nvarchar](100) NULL,
	[ErrorClass] [nvarchar](500) NULL,
	[ErrorMethod] [nvarchar](max) NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[InnerErrorMessage] [nvarchar](max) NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Logs] ON
INSERT [dbo].[Logs] ([Id], [EventDateTime], [EventLevel], [UserName], [MachineName], [EventMessage], [ErrorSource], [ErrorClass], [ErrorMethod], [ErrorMessage], [InnerErrorMessage]) VALUES (1282, CAST(0x0000A24201832AD8 AS DateTime), N'Error', N'auth:Forms:aa', N'USER-HP', N'Err:<exception><outer>Settings to access printer ''EPSON TM-T81 Receipt on Muthu'' are not valid.</outer><inners></inners></exception> ,Controller: , Action: ', N'', N'', N'', N'', N'')
INSERT [dbo].[Logs] ([Id], [EventDateTime], [EventLevel], [UserName], [MachineName], [EventMessage], [ErrorSource], [ErrorClass], [ErrorMethod], [ErrorMessage], [InnerErrorMessage]) VALUES (1283, CAST(0x0000A2420184DFF4 AS DateTime), N'Error', N'auth:Forms:cc', N'USER-HP', N'Err:<exception><outer>Settings to access printer ''\\muthu\EPSON'' are not valid.</outer><inners></inners></exception> ,Controller: , Action: ', N'', N'', N'', N'', N'')
INSERT [dbo].[Logs] ([Id], [EventDateTime], [EventLevel], [UserName], [MachineName], [EventMessage], [ErrorSource], [ErrorClass], [ErrorMethod], [ErrorMessage], [InnerErrorMessage]) VALUES (1284, CAST(0x0000A24201853DB4 AS DateTime), N'Error', N'auth:Forms:cc', N'USER-HP', N'Err:<exception><outer>Object reference not set to an instance of an object.</outer><inners></inners></exception> ,Controller: , Action: ', N'', N'', N'', N'', N'')
SET IDENTITY_INSERT [dbo].[Logs] OFF
/****** Object:  Table [dbo].[Kitchen]    Script Date: 09/25/2013 17:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Kitchen](
	[KitchenID] [int] IDENTITY(1,1) NOT NULL,
	[KitchenName] [varchar](50) NULL,
 CONSTRAINT [PK_Kitchen] PRIMARY KEY CLUSTERED 
(
	[KitchenID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Kitchen] ON
INSERT [dbo].[Kitchen] ([KitchenID], [KitchenName]) VALUES (2, N'Kitchen1')
SET IDENTITY_INSERT [dbo].[Kitchen] OFF
/****** Object:  Table [dbo].[CurrencyDenominationTrans]    Script Date: 09/25/2013 17:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CurrencyDenominationTrans](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[denomival] [int] NULL,
	[countavai] [int] NULL,
	[denomitotal] [bigint] NULL,
	[date] [datetime] NULL,
 CONSTRAINT [PK_CurrencyDenominationTrans] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CurrencyDenomination]    Script Date: 09/25/2013 17:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CurrencyDenomination](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Denomination] [varchar](50) NOT NULL,
	[Value] [int] NOT NULL,
 CONSTRAINT [PK_CurrencyDenomination] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CurrencyDenomination] ON
INSERT [dbo].[CurrencyDenomination] ([id], [Denomination], [Value]) VALUES (1, N'10', 10)
SET IDENTITY_INSERT [dbo].[CurrencyDenomination] OFF
/****** Object:  Table [dbo].[OldOrder]    Script Date: 09/25/2013 17:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OldOrder](
	[Id] [bigint] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[Status] [tinyint] NULL,
	[TotalAmount] [money] NULL,
	[Seats] [varchar](200) NULL,
	[CreatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_OldOrder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[OldOrder] ([Id], [CreatedDate], [Status], [TotalAmount], [Seats], [CreatedBy]) VALUES (259, CAST(0x0000A24400C37AF4 AS DateTime), 2, 15.0000, N'B3', N'f30be40f-d49c-4326-99b7-499172ae8a79')
/****** Object:  Table [dbo].[Printer]    Script Date: 09/25/2013 17:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Printer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](10) NULL,
	[Tables] [nchar](10) NULL,
	[IsDefault] [bit] NULL,
 CONSTRAINT [PK_Printer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductGroup]    Script Date: 09/25/2013 17:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductGroup](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Details] [text] NULL,
	[Status] [bit] NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedDate] [date] NOT NULL,
	[ModifiedDate] [date] NOT NULL,
 CONSTRAINT [PK_ProductGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ProductGroup] ON
INSERT [dbo].[ProductGroup] ([Id], [Name], [Details], [Status], [CreatedBy], [CreatedDate], [ModifiedDate]) VALUES (1, N'Drinks', N'Drinks', 1, N'383841b6-2dbe-4999-b5e1-9b8326c51f5c', CAST(0x91370B00 AS Date), CAST(0x91370B00 AS Date))
INSERT [dbo].[ProductGroup] ([Id], [Name], [Details], [Status], [CreatedBy], [CreatedDate], [ModifiedDate]) VALUES (2, N'GORENG', N'Tiffin', 1, N'383841b6-2dbe-4999-b5e1-9b8326c51f5c', CAST(0x91370B00 AS Date), CAST(0x91370B00 AS Date))
INSERT [dbo].[ProductGroup] ([Id], [Name], [Details], [Status], [CreatedBy], [CreatedDate], [ModifiedDate]) VALUES (3, N'TIFFIN', N'TIFFIN', 1, N'383841b6-2dbe-4999-b5e1-9b8326c51f5c', CAST(0x91370B00 AS Date), CAST(0x9D370B00 AS Date))
SET IDENTITY_INSERT [dbo].[ProductGroup] OFF
/****** Object:  Table [dbo].[Product]    Script Date: 09/25/2013 17:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductGroupID] [bigint] NOT NULL,
	[MasterProductID] [bigint] NULL,
	[Name] [varchar](50) NOT NULL,
	[Details] [text] NULL,
	[ExpiryDate] [date] NULL,
	[Stock] [int] NULL,
	[LowStockRange] [int] NULL,
	[ActualPrice] [money] NULL,
	[FirstSellingPrice] [money] NULL,
	[SecondSellingPrice] [money] NULL,
	[ThirdSellingPrice] [money] NULL,
	[FourthSellingPrice] [money] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedDate] [date] NOT NULL,
	[ModifiedDate] [date] NOT NULL,
	[IsQuickProduct] [bit] NOT NULL,
	[Remarks] [text] NULL,
	[KitchenID] [int] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON
INSERT [dbo].[Product] ([Id], [ProductGroupID], [MasterProductID], [Name], [Details], [ExpiryDate], [Stock], [LowStockRange], [ActualPrice], [FirstSellingPrice], [SecondSellingPrice], [ThirdSellingPrice], [FourthSellingPrice], [CreatedBy], [CreatedDate], [ModifiedDate], [IsQuickProduct], [Remarks], [KitchenID], [Status]) VALUES (1, 2, 5, N'MAG G MUTTON', N'MAGGI GORENG MUTTON', NULL, 12, 12, 7.0000, 7.0000, NULL, NULL, NULL, N'383841b6-2dbe-4999-b5e1-9b8326c51f5c', CAST(0x96370B00 AS Date), CAST(0x9B370B00 AS Date), 1, NULL, 2, 1)
INSERT [dbo].[Product] ([Id], [ProductGroupID], [MasterProductID], [Name], [Details], [ExpiryDate], [Stock], [LowStockRange], [ActualPrice], [FirstSellingPrice], [SecondSellingPrice], [ThirdSellingPrice], [FourthSellingPrice], [CreatedBy], [CreatedDate], [ModifiedDate], [IsQuickProduct], [Remarks], [KitchenID], [Status]) VALUES (2, 2, 5, N'MAG G CHICKEN', N'MAGGI GORENG CHICKEN', NULL, NULL, NULL, 6.5000, 6.5000, NULL, NULL, NULL, N'383841b6-2dbe-4999-b5e1-9b8326c51f5c', CAST(0x96370B00 AS Date), CAST(0x96370B00 AS Date), 1, NULL, NULL, 1)
INSERT [dbo].[Product] ([Id], [ProductGroupID], [MasterProductID], [Name], [Details], [ExpiryDate], [Stock], [LowStockRange], [ActualPrice], [FirstSellingPrice], [SecondSellingPrice], [ThirdSellingPrice], [FourthSellingPrice], [CreatedBy], [CreatedDate], [ModifiedDate], [IsQuickProduct], [Remarks], [KitchenID], [Status]) VALUES (3, 2, 5, N'MAG SOUP TELUR', N'MAGGI SOUP TELUR', NULL, NULL, NULL, 4.5000, 4.5000, NULL, NULL, NULL, N'383841b6-2dbe-4999-b5e1-9b8326c51f5c', CAST(0x96370B00 AS Date), CAST(0x96370B00 AS Date), 1, NULL, NULL, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[Product] OFF
/****** Object:  Table [dbo].[RePrint]    Script Date: 09/25/2013 17:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RePrint](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderId] [bigint] NULL,
	[ReprintedDate] [datetime] NULL,
	[ReprintedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_RePrint] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OldBill]    Script Date: 09/25/2013 17:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OldBill](
	[Id] [binary](8) NOT NULL,
	[OrderId] [bigint] NULL,
	[TotalAmount] [money] NULL,
	[PaidAmount] [money] NULL,
	[BalanceAmount] [money] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_OldBill] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[OldBill] ([Id], [OrderId], [TotalAmount], [PaidAmount], [BalanceAmount], [CreatedBy], [CreatedDate]) VALUES (0x000000000000004E, 259, 15.0000, 23.0000, 8.0000, N'f30be40f-d49c-4326-99b7-499172ae8a79', CAST(0x0000A24400C3B881 AS DateTime))
/****** Object:  Table [dbo].[Bill]    Script Date: 09/25/2013 17:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderId] [bigint] NULL,
	[TotalAmount] [money] NULL,
	[PaidAmount] [money] NULL,
	[BalanceAmount] [money] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_Bill] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OldRePrint]    Script Date: 09/25/2013 17:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OldRePrint](
	[Id] [bigint] NOT NULL,
	[OrderId] [bigint] NULL,
	[ReprintedDate] [datetime] NULL,
	[ReprintedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_OldRePrint] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OldOrderedProduct]    Script Date: 09/25/2013 17:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OldOrderedProduct](
	[Id] [bigint] NOT NULL,
	[OrderId] [bigint] NOT NULL,
	[ProductId] [bigint] NOT NULL,
	[Quantity] [int] NULL,
	[Price] [money] NULL,
	[Type] [int] NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ProductName] [varchar](50) NULL,
	[Amount] [money] NULL,
	[Status] [int] NULL,
	[Reason] [varchar](50) NULL,
 CONSTRAINT [PK_OldOrderedProduct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[OldOrderedProduct] ([Id], [OrderId], [ProductId], [Quantity], [Price], [Type], [CreatedBy], [ProductName], [Amount], [Status], [Reason]) VALUES (844, 259, 254, 1, 3.0000, 0, N'f30be40f-d49c-4326-99b7-499172ae8a79', N'CANDRINKS BIG', 3.0000, 1, NULL)
INSERT [dbo].[OldOrderedProduct] ([Id], [OrderId], [ProductId], [Quantity], [Price], [Type], [CreatedBy], [ProductName], [Amount], [Status], [Reason]) VALUES (845, 259, 290, 1, 12.0000, 0, N'f30be40f-d49c-4326-99b7-499172ae8a79', N'myprod2', 12.0000, 1, NULL)
/****** Object:  Table [dbo].[OrderedProduct]    Script Date: 09/25/2013 17:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrderedProduct](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderId] [bigint] NOT NULL,
	[ProductId] [bigint] NOT NULL,
	[Quantity] [int] NULL,
	[Price] [money] NULL,
	[Type] [int] NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ProductName] [varchar](50) NULL,
	[Amount] [money] NULL,
	[Status] [int] NULL,
	[Reason] [varchar](50) NULL,
 CONSTRAINT [PK_OrderedProduct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[usp_MoveToOld]    Script Date: 09/25/2013 17:21:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_MoveToOld]
as
BEGIN

	BEGIN TRY
		IF not EXISTS(select 1 from [Order] Where [Status] != 2)
		BEGIN
			BEGIN TRANSACTION

				INSERT INTO [OldOrder] 
				SELECT new.Id,new.CreatedDate,new.Status,new.TotalAmount,new.Seats,new.CreatedBy FROM [ORDER] new 
					LEFT JOIN [OldOrder] old on new.Id = old.Id
				WHERE old.Id is null


				INSERT INTO [OldOrderedProduct] 
				SELECT new.Id,new.[OrderId],new.[ProductId],new.[Quantity]
					,new.[Price],new.[Type],new.[CreatedBy],new.[ProductName]
					,new.[Amount],new.[Status],new.[Reason] FROM [OrderedProduct] new 
					LEFT JOIN [OldOrderedProduct] old on new.Id = old.Id
				WHERE old.Id is null

				INSERT INTO [OldBill] 
				SELECT new.[Id],new.[OrderId],new.[TotalAmount],new.[PaidAmount]
					,new.[BalanceAmount],new.[CreatedBy],new.[CreatedDate]
					FROM [Bill] new LEFT JOIN [OldBill] old on new.Id = old.Id
				WHERE old.Id is null

				INSERT INTO [OldRePrint] 
				SELECT new.[Id],new.[OrderId],new.[ReprintedDate],new.[ReprintedBy] 
					FROM [RePrint] new LEFT JOIN [OldRePrint] old on new.Id = old.Id
				WHERE old.Id is null


				DELETE FROM RePrint
				DELETE FROM Bill
				DELETE FROM OrderedProduct
				DELETE FROM [Order]

			COMMIT
		END
	END TRY
	BEGIN CATCH
		ROLLBACK
	END CATCH
	
END
GO
/****** Object:  ForeignKey [FK_Bill_Order]    Script Date: 09/25/2013 17:21:20 ******/
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_Order]
GO
/****** Object:  ForeignKey [FK_OldBill_OldOrder]    Script Date: 09/25/2013 17:21:20 ******/
ALTER TABLE [dbo].[OldBill]  WITH CHECK ADD  CONSTRAINT [FK_OldBill_OldOrder] FOREIGN KEY([OrderId])
REFERENCES [dbo].[OldOrder] ([Id])
GO
ALTER TABLE [dbo].[OldBill] CHECK CONSTRAINT [FK_OldBill_OldOrder]
GO
/****** Object:  ForeignKey [FK_OldOrderedProducts_OldOrder]    Script Date: 09/25/2013 17:21:20 ******/
ALTER TABLE [dbo].[OldOrderedProduct]  WITH CHECK ADD  CONSTRAINT [FK_OldOrderedProducts_OldOrder] FOREIGN KEY([OrderId])
REFERENCES [dbo].[OldOrder] ([Id])
GO
ALTER TABLE [dbo].[OldOrderedProduct] CHECK CONSTRAINT [FK_OldOrderedProducts_OldOrder]
GO
/****** Object:  ForeignKey [FK_OldOrderedProducts_Product]    Script Date: 09/25/2013 17:21:20 ******/
ALTER TABLE [dbo].[OldOrderedProduct]  WITH CHECK ADD  CONSTRAINT [FK_OldOrderedProducts_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[OldOrderedProduct] CHECK CONSTRAINT [FK_OldOrderedProducts_Product]
GO
/****** Object:  ForeignKey [FK_OldRePrint_OldOrder]    Script Date: 09/25/2013 17:21:20 ******/
ALTER TABLE [dbo].[OldRePrint]  WITH CHECK ADD  CONSTRAINT [FK_OldRePrint_OldOrder] FOREIGN KEY([OrderId])
REFERENCES [dbo].[OldOrder] ([Id])
GO
ALTER TABLE [dbo].[OldRePrint] CHECK CONSTRAINT [FK_OldRePrint_OldOrder]
GO
/****** Object:  ForeignKey [FK_OrderedProducts_Order]    Script Date: 09/25/2013 17:21:20 ******/
ALTER TABLE [dbo].[OrderedProduct]  WITH CHECK ADD  CONSTRAINT [FK_OrderedProducts_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[OrderedProduct] CHECK CONSTRAINT [FK_OrderedProducts_Order]
GO
/****** Object:  ForeignKey [FK_OrderedProducts_Product]    Script Date: 09/25/2013 17:21:20 ******/
ALTER TABLE [dbo].[OrderedProduct]  WITH CHECK ADD  CONSTRAINT [FK_OrderedProducts_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[OrderedProduct] CHECK CONSTRAINT [FK_OrderedProducts_Product]
GO
/****** Object:  ForeignKey [FK_Product_Kitchen]    Script Date: 09/25/2013 17:21:20 ******/
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Kitchen] FOREIGN KEY([KitchenID])
REFERENCES [dbo].[Kitchen] ([KitchenID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Kitchen]
GO
/****** Object:  ForeignKey [FK_Product_Product]    Script Date: 09/25/2013 17:21:20 ******/
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Product] FOREIGN KEY([MasterProductID])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Product]
GO
/****** Object:  ForeignKey [FK_Product_ProductGroup]    Script Date: 09/25/2013 17:21:20 ******/
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductGroup] FOREIGN KEY([ProductGroupID])
REFERENCES [dbo].[ProductGroup] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductGroup]
GO
/****** Object:  ForeignKey [FK_RePrint_Order]    Script Date: 09/25/2013 17:21:20 ******/
ALTER TABLE [dbo].[RePrint]  WITH CHECK ADD  CONSTRAINT [FK_RePrint_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[RePrint] CHECK CONSTRAINT [FK_RePrint_Order]
GO
