



#product-adder td,#dataTable td,#users td {
	vertical-align: middle;
}

#dataTable td:nth-child(6),#dataTable td:nth-child(1),#dataTable th:nth-child(6),#dataTable th:nth-child(1)
	{
	text-align: center;
}

table.invoice-wrapper-table,.invoice-form-table {
	width: 100%;
}

.button-icon {
	border: none;
	padding: 0 0 0 0;
	background: transparent;
}

#invoice-payment-table {
	margin: 10px;
	width: 97%;
}

#invoice-payment-table td {
	text-align: right;
	padding-right: 10px;
	white-space: nowrap;
	vertical-align: middle;
}

#product-adder {
	width: 100%;
	margin: 10px 0;
}

#product-adder td:nth-child(2) {
	text-align: right;
}

/* table buttons */

.table-button{
	float: left;
	height: auto;
	display:table;
	font: 76%/150% "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
	width: 10em;
	text-align: center;
	white-space: nowrap;
}

.table-button a:link,.item-button a:visited {
	color: #eee;
	display:table-cell; 
	vertical-align:middle;
	background-color: #93BC0C;
	height:5em;
	font-size: 1em;
	font-weight: bolder;
	text-decoration: none;
	border-bottom: 0.1em solid #555;
	border-right: 0.1em solid #555;
	border-top: 0.1em solid #ccc;
	border-left: 0.1em solid #ccc;
	margin: 0.2em;
	padding: 0.2em;
	/* display: block; */
}

.table-button a:hover {
    display:table-cell; 
	vertical-align:middle;
	background-color: #003366;
	color: #999;
	border-top: 0.1em solid #777;
	border-left: 0.1em solid #777;
	border-bottom: 0.1em solid #aaa;
	border-right: 0.1em solid #aaa;
	padding: 0.2em;
	margin: 0.2em;
}

/* table buttons selected */

.table-button-select{
	float: left;
	height: auto;
	display:table;
	font: 76%/150% "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
	width: 10em;
	text-align: center;
	white-space: nowrap;
}

.table-button-select a:link,.item-button a:visited {
	color: #999;
	display:table-cell; 
	vertical-align:middle;
	background-color: #003366;
	height:5em;
	font-size: 1em;
	font-weight: bolder;
	text-decoration: none;
	border-bottom: 0.1em solid #555;
	border-right: 0.1em solid #555;
	border-top: 0.1em solid #ccc;
	border-left: 0.1em solid #ccc;
	margin: 0.2em;
	padding: 0.2em;
	
	/* display: block; */
}

.table-button-select a:hover {
    display:table-cell; 
	vertical-align:middle;
	background-color: #93BC0C;
	color: #eee;
	border-top: 0.1em solid #777;
	border-left: 0.1em solid #777;
	border-bottom: 0.1em solid #aaa;
	border-right: 0.1em solid #aaa;
	padding: 0.2em;
	margin: 0.2em;
}


/* added by naseeh */


/* css for products */


		@-webkit-keyframes bigAssButtonPulse {
		  from { background-color: #749a02; -webkit-box-shadow: 0 0 25px #333; }
		  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 50px #91bd09; }
		  to { background-color: #749a02; -webkit-box-shadow: 0 0 25px #333; }
		}

		@-webkit-keyframes greenPulse {
		  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
		  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
		  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
		}

		@-webkit-keyframes bluePulse {
		  from { background-color: #007d9a; -webkit-box-shadow: 0 0 9px #333; }
		  50% { background-color: #2daebf; -webkit-box-shadow: 0 0 18px #2daebf; }
		  to { background-color: #007d9a; -webkit-box-shadow: 0 0 9px #333; }
		}

		@-webkit-keyframes redPulse {
		  from { background-color: #bc330d; -webkit-box-shadow: 0 0 9px #333; }
		  50% { background-color: #e33100; -webkit-box-shadow: 0 0 18px #e33100; }
		  to { background-color: #bc330d; -webkit-box-shadow: 0 0 9px #333; }
		}

		@-webkit-keyframes magentaPulse {
		  from { background-color: #630030; -webkit-box-shadow: 0 0 9px #333; }
		  50% { background-color: #a9014b; -webkit-box-shadow: 0 0 18px #a9014b; }
		  to { background-color: #630030; -webkit-box-shadow: 0 0 9px #333; }
		}

		@-webkit-keyframes orangePulse {
		  from { background-color: #d45500; -webkit-box-shadow: 0 0 9px #333; }
		  50% { background-color: #ff5c00; -webkit-box-shadow: 0 0 18px #ff5c00; }
		  to { background-color: #d45500; -webkit-box-shadow: 0 0 9px #333; }
		}

		@-webkit-keyframes orangellowPulse {
		  from { background-color: #fc9200; -webkit-box-shadow: 0 0 9px #333; }
		  50% { background-color: #ffb515; -webkit-box-shadow: 0 0 18px #ffb515; }
		  to { background-color: #fc9200; -webkit-box-shadow: 0 0 9px #333; }
		}

	
		
		a#theButton {
			background-image: none;
			background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.25)), to(transparent));
			display: block;
			width: 820px;
			height: 180px;
			margin: 0 auto 36px;
			padding: 0;
			text-align: center;
			font-size: 90px;
			line-height: 160px;
			letter-spacing: -4px;
			text-shadow: 0 -1px 5px rgba(0,0,0,.25);
			-moz-border-radius: 100px;
			-webkit-border-radius: 100px;
			border: 10px solid rgba(0,0,0,.25);
			-webkit-animation-name: bigAssButtonPulse;
			-webkit-animation-duration: 3s;
		}
		
		.green.button { -webkit-animation-name: greenPulse;  }
		.blue.button { -webkit-animation-name: bluePulse;  }
		.red.button { -webkit-animation-name: redPulse; }
		.magenta.button { -webkit-animation-name: magentaPulse; }
		.orange.button { -webkit-animation-name: orangePulse;}
		.orangellow.button { -webkit-animation-name: orangellowPulse; }
		
		
		
		
	.listmenu ul {
      margin: 0 0 5px 0;
      padding: 0 0 2px 0;
      list-style: none;
      width:185px;
      border-right:3px solid #666;

      }
    
/* stop the floating after the list */
br
{
  clear: left;
}


        .wall-of-buttons li a {
         color: #333;
         display: block;
         height: 16px;
         padding: 4px 0 4px 4px;
         text-decoration: none;
         font-weight:bold;
         background-color:#fff;
         }

.csInvoiceReorder a{
	background: #d6d6d6;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ffffff 50%,
		#d6d6d6);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		color-stop(0.50, #ffffff),
		to(#d6d6d6));
	background: linear-gradient(
		top,
		#ffffff 0%,
		#ffffff 50%,
		#d6d6d6);
		color: #333;
		font-size; 12px;
		font-weight: bold;
		text-decoration: none;
		padding: 2px 3px;
		border: 1px solid #ccc;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
}
.csInvoiceReorder a.selected{
	background: url("../images/button.png") repeat-x left center;
	color: #fff;
}
.csProdutGroupBlk{
	width: 480px;
	
	
}
.cButton1{
    float:left;
    width:110px;
    padding:0 10px 0 0;
    font:normal 11px trebuchet ms;
    margin:0;
    word-wrap:break-word;
}
.cButton1 li {
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 2px #B295A2;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    list-style: none outside none;
    margin: 7px 0;
    padding: 5px;
    text-align: center;
    text-shadow: 3px 2px 3px #222222;
    text-transform: uppercase;
    transition: all 1s ease 0s;
    height:30px;
}


#right
{

}
.none {
    display:none;
}
input.small[type="text"] {
    width :50px;
}
.btn-mini {
    margin: 3px 5px;
    font-weight:bold;
    
}


table #dataTable {
    width: 100%;
}
table #dataTable tr.disabled {
    background-color:#dddddd;
    color:black;
    cursor:not-allowed; 
}

table #dataTable tr span.deleted {
    color:red;
    text-decoration: line-through;
}


.btn.btn-disabled {
    color:lightgray  ;
    cursor: not-allowed;
    padding: 10px 20px;
}

/* primary mini starts*/

.btn-info-mini {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #49afcd;
    *background-color: #2f96b4;
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    margin: 2px 2px;
    padding: 5px 10px;
    font-size: 10.5px;
}

.btn-info-mini:hover,
.btn-info-mini:focus,
.btn-info-mini:active,
.btn-info-mini.active,
.btn-info-mini.disabled,
.btn-info-mini[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
  cursor:pointer;
}

.btn-info-mini:active,
.btn-info-mini.active {
  background-color: #24748c \9;
}
/*Primary mini ends*/



.prod {
}
.prod.btnm,
.prod.btn0,
.prod.btn1,
.prod.btn2,
.prod.btn3,
.prod.btn4,
.prod.btn5 {
    padding: 3px 5px 3px 5px;
    width:80px;
    text-align:center;
    margin-bottom:5px;
    display:block;
    
}
.info {
    background: url("../images/sprit.png") no-repeat;
    background-position: 0 -149px; width: 19px; height: 19px;
    cursor:pointer;
    float:left;
    padding-right: 7px;
}
.delete {
    background: url("../images/sprit.png") no-repeat;
    background-position: 0 -82px; width: 17px; height: 17px;
    cursor:pointer;
}
#PrinterInfo {
    float:left;color:white;background-color:#1E90FF;font-size:12px;
}
#PaidAmount, #BalanceAmount, #TotalAmount.billpage{
    font-size:2.5em;
    width:420px;
    text-align:right;
    padding-right:15px;
}
#PaidAmount {
    color:green;
}
#BalanceAmount {
    color:red;
}
#txtOrderId {
    width: 200px;
    font-size:1.8em;
}